# VIZRO

In [1]:
# !pip install vizro

In [2]:
import pandas as pd
import numpy as np
from vizro import Vizro 
import vizro.models as vm 
import vizro.plotly.express as px

In [3]:
df = pd.read_csv('Crime_severity.csv')
df

,Unnamed: 0,Postcode area,Severity,Price,Total Population,Latitude,Longitude,Total Count
0,0,AL,High Severity,684396.0,336081.0,51.773013,-0.266253,4602
1,1,AL,Low Severity,684396.0,336081.0,51.769772,-0.275815,4996
2,2,AL,Medium Severity,684396.0,336081.0,51.770945,-0.269097,2510
3,3,BR,High Severity,591916.0,808822.0,51.399753,0.034192,4252
4,4,BR,Low Severity,591916.0,808822.0,51.399171,0.030650,6321
...,...,...,...,...,...,...,...,...
103,103,W,Low Severity,725847.0,4080002.0,51.510669,-0.194609,47480
104,104,W,Medium Severity,725847.0,4080002.0,51.509771,-0.214039,13980
105,105,WD,High Severity,899728.0,315904.0,51.660318,-0.379039,4070
106,106,WD,Low Severity,899728.0,315904.0,51.657898,-0.373240,3963
107,107,WD,Medium Severity,899728.0,315904.0,51.660264,-0.379313,2277

In [4]:
max_price_index = df[df['Price']>900000].idxmax()

# Retrieve the entire row corresponding to the maximum price
row_with_max_price = df.loc[max_price_index]
display(row_with_max_price)

,Unnamed: 0,Postcode area,Severity,Price,Total Population,Latitude,Longitude,Total Count
92,92,SW,Medium Severity,903793.0,3613849.0,51.468566,-0.164000,18265
90,90,SW,High Severity,903793.0,3613849.0,51.470309,-0.159607,14286
26,26,EN,Medium Severity,1181534.0,787458.0,51.670524,-0.072013,6556
24,24,EN,High Severity,1181534.0,787458.0,51.676998,-0.062194,6489
90,90,SW,High Severity,903793.0,3613849.0,51.470309,-0.159607,14286
24,24,EN,High Severity,1181534.0,787458.0,51.676998,-0.062194,6489
24,24,EN,High Severity,1181534.0,787458.0,51.676998,-0.062194,6489
91,91,SW,Low Severity,903793.0,3613849.0,51.474653,-0.156623,43240

In [5]:
from vizro import Vizro
import vizro.models as vm
import vizro.plotly.express as px
import pandas as pd

# Assuming you already have the 'postcode_crimes_total_by_severity' DataFrame
# You can load your DataFrame like this:
# postcode_crimes_total_by_severity = pd.read_csv('your_dataset.csv')

# Calculate crime severity per capita
df['Crime Per Capita'] = (df['Total Count'] / df['Total Population']) * 1000
# Create scatter plot
scatter_figure = px.scatter(
    df,
    title="Crime Severity Distribution per Capita",
    x="Price",
    y="Crime Per Capita",
    hover_data=["Postcode area", "Total Population"]
)

# Create bar chart
bar_figure = px.histogram(
    df,
    title="Total Count of Crimes by Postcode Area",
    x="Postcode area",
    y="Total Count",
    color="Severity"
)


page = vm.Page(
    title="Crime Data Dashboard",
    components=[
        vm.Graph(figure=scatter_figure),
        vm.Graph(figure=bar_figure)
    ],
    controls=[
        vm.Filter(column="Severity"),
        vm.Filter(column="Postcode area"),
        vm.Filter(column="Price")
    ]
)

# Build and run the dashboard
Vizro().build(vm.Dashboard(pages=[page])).run(port=8051)