# Concatting streets databases

In [2]:

import pandas as pd 
import os

folder_path = r'All_directory'
#out_file is the exported csv file 
output_file = 'merged_street_data.csv'
 
def merge_street_data(folder_path, output_file):
    #Creates an empty list to store the csv files
    main_csv = []
 
    #Traverse the directory tree rooted at folder_path
    for root,dirs,files in os.walk(folder_path):
        #Iterate over the files in current directory
        for file in files:
            #Checks if the file ends with 'street.csv'
            if file.endswith('street.csv'):
                #Construct the full path to the csv file
                file_path = os.path.join(root,file)
                #read the csv file into a Dataframe
                csv = pd.read_csv(file_path)
                #Append the Dataframe into the empty list
                main_csv.append(csv)
    #Merges all Dataframes in the list into a single Data frame
    #ignore_index makes sure that the merged_csv has a reset index
    merged_csv = pd.concat(main_csv, ignore_index = True)
    #Saves the merged_csv
    #index = False so that it does not have an index in the first column
    merged_csv.to_csv(output_file,index = False)
    #Print a message to say if it was saved successfully
    print('Saved successfully!')
merge_street_data(folder_path, output_file)

Saved successfully!

# Concatting outcomes databases

In [5]:
import pandas as pd 
import os

folder_path = r'All_directory'
#out_file is the exported csv file 
output_file = 'merged_outcomes_data.csv'
 
def merge_outcome_data(folder_path, output_file):
    #Creates an empty list to store the csv files
    main_csv = []
 
    #Traverse the directory tree rooted at folder_path
    for root,dirs,files in os.walk(folder_path):
        #Iterate over the files in current directory
        for file in files:
            #Checks if the file ends with 'street.csv'
            if file.endswith('outcomes.csv'):
                #Construct the full path to the csv file
                file_path = os.path.join(root,file)
                #read the csv file into a Dataframe
                csv = pd.read_csv(file_path)
                #Append the Dataframe into the empty list
                main_csv.append(csv)
    #Merges all Dataframes in the list into a single Data frame
    #ignore_index makes sure that the merged_csv has a reset index
    merged_csv = pd.concat(main_csv, ignore_index = True)
    #Saves the merged_csv
    #index = False so that it does not have an index in the first column
    merged_csv.to_csv(output_file,index = False)
    #Print a message to say if it was saved successfully
    print('Saved successfully!')
merge_outcome_data(folder_path, output_file)

Saved successfully!

# Merge the databases together

In [4]:
merge_street_data = pd.read_csv('merged_street_data.csv')
display(merge_street_data)

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,3abf3c34562bf6a1c2cbdc8af2cf9b6c0c404802c0124b...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.263240,51.598210,On or near St Alphage Walk,E01000128,Barnet 024C,Violence and sexual offences,Action to be taken by another organisation,NaN
1,3770f1fa16b3bb916abdbb1908c26883f594265be11fb0...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.423384,52.251347,On or near Mill Lane,E01017540,Bedford 001A,Public order,Investigation complete; no suspect identified,NaN
2,NaN,2022-01,Bedfordshire Police,Bedfordshire Police,-0.481606,52.249080,On or near Lowsdon Lane,E01017541,Bedford 001B,Anti-social behaviour,NaN,NaN
3,bbe5beb3288b1c4ded371dec3011eb0862c21ec8846d70...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.480870,52.253044,On or near Gold Street,E01017541,Bedford 001B,Burglary,Investigation complete; no suspect identified,NaN
4,cbc15187f666296778c9b6cef95b5ca22b132a12c4b012...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.467375,52.259074,On or near Petrol Station,E01017541,Bedford 001B,Burglary,Investigation complete; no suspect identified,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3679542,23e834df5c101b28718a63ed64a04df7c9b048b990abbd...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Awaiting court outcome,NaN
3679543,4c2d83e007190f728d5fe140a88a5d9f553a3628a71116...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Under investigation,NaN
3679544,d0a3bab8ff682993033b3cc744d7acebf12f1da04909f2...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Under investigation,NaN
3679545,771ea15cc96f5eaa5b929a49688249e0aea2f3d384b197...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Under investigation,NaN
3679546,e3a7fbd454c9242af6ad88451595083cf2bdfefe51bec7...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Under investigation,NaN

In [6]:
merge_outcome_data = pd.read_csv('merged_outcomes_data.csv')
display(merge_outcome_data)

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Outcome type
0,2cadf1ccc535ce3537c1161dc57ede6bc2504ab9c540b2...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.411647,51.873117,On or near NEW TOWN STREET,E01015792,Luton 021D,Unable to prosecute suspect
1,101f604d0b93ff8eeb717c2123b618145f4dbe31030c9f...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.651144,51.907945,On or near CLARIDGE CLOSE,E01033829,Central Bedfordshire 024I,Investigation complete; no suspect identified
2,eacc814d6c726d1477067db6a767c6add84d76c946f640...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.462145,52.141626,On or near GLEBE ROAD,E01017484,Bedford 009C,Unable to prosecute suspect
3,c937e4256319f8991a29efa6b93801c20b80dcc9a47d6a...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.506134,52.170801,On or near MILTON ROAD,E01017480,Bedford 003C,Investigation complete; no suspect identified
4,bd074a88d12665cca14af825602e60da16e41b20a90d51...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.435016,51.890389,On or near SELBOURNE ROAD,E01015704,Luton 010C,Unable to prosecute suspect
...,...,...,...,...,...,...,...,...,...,...
3294745,867c7778860a8f7bf327e3052c748bcc4b5f071747f72b...,2024-01,Thames Valley Police,Thames Valley Police,-0.776324,51.422675,On or near Woodhouse Street,E01016185,Bracknell Forest 002B,Investigation complete; no suspect identified
3294746,72386b8b61bfb044cd22da3624a73e069aa6b01d40157b...,2024-01,Thames Valley Police,Thames Valley Police,-0.729168,52.019029,On or near Barnfield Drive,E01016843,Milton Keynes 023C,Investigation complete; no suspect identified
3294747,83921376b465ab5ebeabdea971005c09066e5d7737fe6a...,2024-01,Thames Valley Police,Thames Valley Police,-0.806217,51.801840,On or near Walker Place,E01017687,Buckinghamshire 019A,Investigation complete; no suspect identified
3294748,2248e6fdc8aa504f22aa3bbd7e71b7d23eec63ce3d14a2...,2024-01,Thames Valley Police,Thames Valley Police,-1.265214,51.753464,On or near Hythe Bridge Street,E01028551,Oxford 009D,Investigation complete; no suspect identified
3294749,76dec037eb8eb48a1cc4423409f2273615bdafe2aa0941...,2024-01,Thames Valley Police,Thames Valley Police,-0.600561,51.503858,On or near King's Road,E01016462,Slough 009A,Investigation complete; no suspect identified

# Merge both databases together based on 'Crime ID'

In [8]:
merged_df = pd.merge(merge_street_data, merge_outcome_data[['Crime ID', 'Outcome type']], on='Crime ID', how='inner')
display(merged_df)

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context,Outcome type
0,3abf3c34562bf6a1c2cbdc8af2cf9b6c0c404802c0124b...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.263240,51.598210,On or near St Alphage Walk,E01000128,Barnet 024C,Violence and sexual offences,Action to be taken by another organisation,NaN,Action to be taken by another organisation
1,3770f1fa16b3bb916abdbb1908c26883f594265be11fb0...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.423384,52.251347,On or near Mill Lane,E01017540,Bedford 001A,Public order,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified
2,bbe5beb3288b1c4ded371dec3011eb0862c21ec8846d70...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.480870,52.253044,On or near Gold Street,E01017541,Bedford 001B,Burglary,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified
3,cbc15187f666296778c9b6cef95b5ca22b132a12c4b012...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.467375,52.259074,On or near Petrol Station,E01017541,Bedford 001B,Burglary,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified
4,b6728aeb051f6e9484804437849d8202257e836198a53c...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.471774,52.255984,On or near Maple Gardens,E01017541,Bedford 001B,Burglary,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995340,9f32d89cfdc21c5bcc54f38510d442f979ee9e85baeaf1...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Awaiting court outcome,NaN,Suspect charged
2995341,dba47ae4b078a5cdda252b046bcd24771491a30276f397...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Awaiting court outcome,NaN,Suspect charged
2995342,644d8b1daf1b6d6e18c1c333adb4622f0520948f0d8d8f...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Awaiting court outcome,NaN,Suspect charged
2995343,67bb4263b180bcd6e17f53977bb419b41cc3db71df8bb5...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Awaiting court outcome,NaN,Suspect charged
2995344,23e834df5c101b28718a63ed64a04df7c9b048b990abbd...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Awaiting court outcome,NaN,Suspect charged

# Postcode database

## Filtering the necessary postcodes

In [10]:
# Read the 'postcodes' dataset
postcodes = pd.read_csv('postcodes.csv')

# Define the list of desired counties
desired_counties = ['Bedfordshire', 'Berkshire', 'Essex', 'Surrey', 'Greater London', 'Hertfordshire', 'Buckinghamshire', 'Oxfordshire', 'City of London']

# Filter the DataFrame based on the conditions
filtered_postcodes = postcodes[(postcodes['In Use?'] == 'Yes') & (postcodes['County'].isin(desired_counties))]

# Keep only the desired columns
selected_columns = ['Postcode', 'In Use?', 'Latitude',  'Population', 'Longitude', 'Postcode district', 'Postcode area', 'Average Income', 'LSOA Code', 'County']
filtered_postcodes = filtered_postcodes[selected_columns]

# Remove duplicate rows based on the 'LSOA Code' column
filtered_postcodes = filtered_postcodes.drop_duplicates(subset=['LSOA Code'])

# # Display the filtered DataFrame
display(filtered_postcodes)

# # Export the filtered DataFrame to a CSV file
filtered_postcodes.to_csv('filtered_postcodes.csv', index=False)

C:\Users\JenushanJayarooban\AppData\Local\Temp\ipykernel_19960\367390867.py:2: DtypeWarning: Columns (7,17,18,21,22,24,29,32,39,47,51,53,54,55,56,57) have mixed types. Specify dtype option on import or set low_memory=False.
  postcodes = pd.read_csv('postcodes.csv')

,Postcode,In Use?,Latitude,Population,Longitude,Postcode district,Postcode area,Average Income,LSOA Code,County
39201,AL1 1AG,Yes,51.745290,14.0,-0.328628,AL1,AL,58100.0,E01023741,Hertfordshire
39208,AL1 1AR,Yes,51.739727,32.0,-0.317492,AL1,AL,57300.0,E01023684,Hertfordshire
39209,AL1 1AS,Yes,51.749073,34.0,-0.335471,AL1,AL,77600.0,E01023726,Hertfordshire
39210,AL1 1AT,Yes,51.742011,NaN,-0.319421,AL1,AL,57300.0,E01023682,Hertfordshire
39218,AL1 1BH,Yes,51.746852,52.0,-0.338000,AL1,AL,58100.0,E01023740,Hertfordshire
...,...,...,...,...,...,...,...,...,...,...
2580872,WD7 0AL,Yes,51.683002,NaN,-0.317296,WD7,WD,63800.0,E01023525,Hertfordshire
2580983,WD7 7AS,Yes,51.684880,24.0,-0.315346,WD7,WD,63800.0,E01023523,Hertfordshire
2581214,WD7 8DB,Yes,51.683555,29.0,-0.326447,WD7,WD,63800.0,E01023527,Hertfordshire
2581422,WD7 9AB,Yes,51.703801,2.0,-0.289316,WD7,WD,56400.0,E01023582,Hertfordshire
2581469,WD7 9DN,Yes,51.693542,19.0,-0.294348,WD7,WD,56400.0,E01023581,Hertfordshire

In [13]:
filtered_postcodes = pd.read_csv('filtered_postcodes.csv')
merged_postcodes = pd.merge(merged_df, filtered_postcodes[['Postcode area', 'Postcode district', 'Average Income', 'Population', 'LSOA code']], on='LSOA code', how='left')
merged_postcodes.to_csv('merged_postcodes.csv')

In [15]:
merged_postcodes = pd.read_csv('merged_postcodes.csv')
display(merged_postcodes)

,Unnamed: 0,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context,Outcome type,Postcode area,Postcode district,Average Income,Population
0,0,3abf3c34562bf6a1c2cbdc8af2cf9b6c0c404802c0124b...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.263240,51.598210,On or near St Alphage Walk,E01000128,Barnet 024C,Violence and sexual offences,Action to be taken by another organisation,NaN,Action to be taken by another organisation,HA,HA8,51000.0,20.0
1,1,3770f1fa16b3bb916abdbb1908c26883f594265be11fb0...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.423384,52.251347,On or near Mill Lane,E01017540,Bedford 001A,Public order,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,MK,MK44,55800.0,55.0
2,2,bbe5beb3288b1c4ded371dec3011eb0862c21ec8846d70...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.480870,52.253044,On or near Gold Street,E01017541,Bedford 001B,Burglary,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,MK,MK44,55800.0,14.0
3,3,cbc15187f666296778c9b6cef95b5ca22b132a12c4b012...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.467375,52.259074,On or near Petrol Station,E01017541,Bedford 001B,Burglary,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,MK,MK44,55800.0,14.0
4,4,b6728aeb051f6e9484804437849d8202257e836198a53c...,2022-01,Bedfordshire Police,Bedfordshire Police,-0.471774,52.255984,On or near Maple Gardens,E01017541,Bedford 001B,Burglary,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,MK,MK44,55800.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995340,2995340,9f32d89cfdc21c5bcc54f38510d442f979ee9e85baeaf1...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Awaiting court outcome,NaN,Suspect charged,NaN,NaN,NaN,NaN
2995341,2995341,dba47ae4b078a5cdda252b046bcd24771491a30276f397...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Awaiting court outcome,NaN,Suspect charged,NaN,NaN,NaN,NaN
2995342,2995342,644d8b1daf1b6d6e18c1c333adb4622f0520948f0d8d8f...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Awaiting court outcome,NaN,Suspect charged,NaN,NaN,NaN,NaN
2995343,2995343,67bb4263b180bcd6e17f53977bb419b41cc3db71df8bb5...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Awaiting court outcome,NaN,Suspect charged,NaN,NaN,NaN,NaN
2995344,2995344,23e834df5c101b28718a63ed64a04df7c9b048b990abbd...,2024-01,Thames Valley Police,Thames Valley Police,NaN,NaN,No Location,NaN,NaN,Other crime,Awaiting court outcome,NaN,Suspect charged,NaN,NaN,NaN,NaN

In [18]:
null_postcodes= merged_postcodes['Postcode area'].isnull().sum()
display(null_postcodes)

214479

In [36]:
merged_postcodes.dropna(subset=['Postcode area', 'Population'], inplace=True)

display(merged_postcodes)
merged_postcodes.to_csv('merged_postcodes.csv')

,Unnamed: 0,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context,Outcome type,Postcode area,Postcode district,Average Income,Population
0,0,3abf3c34562bf6a1c2cbdc8af2cf9b6c0c404802c0124b...,2022-01,Bedfordshire Police,Bedfordshire Police,-0,52,On or near St Alphage Walk,E01000128,Barnet 024C,Violence and sexual offences,Action to be taken by another organisation,NaN,Action to be taken by another organisation,HA,HA8,51000,20
1,1,3770f1fa16b3bb916abdbb1908c26883f594265be11fb0...,2022-01,Bedfordshire Police,Bedfordshire Police,-0,52,On or near Mill Lane,E01017540,Bedford 001A,Public order,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,MK,MK44,55800,55
2,2,bbe5beb3288b1c4ded371dec3011eb0862c21ec8846d70...,2022-01,Bedfordshire Police,Bedfordshire Police,-0,52,On or near Gold Street,E01017541,Bedford 001B,Burglary,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,MK,MK44,55800,14
3,3,cbc15187f666296778c9b6cef95b5ca22b132a12c4b012...,2022-01,Bedfordshire Police,Bedfordshire Police,-0,52,On or near Petrol Station,E01017541,Bedford 001B,Burglary,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,MK,MK44,55800,14
4,4,b6728aeb051f6e9484804437849d8202257e836198a53c...,2022-01,Bedfordshire Police,Bedfordshire Police,-0,52,On or near Maple Gardens,E01017541,Bedford 001B,Burglary,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,MK,MK44,55800,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995216,2995216,d722bf58b3bd0fd77834e2b37986663574ee7e730ef025...,2024-01,Thames Valley Police,Thames Valley Police,-1,51,On or near Petrol Station,E01016640,Wokingham 019F,Other theft,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,RG,RG40,82200,56
2995217,2995217,f922655ff29c023c925dd4d2bbf850b868ef7f6302155b...,2024-01,Thames Valley Police,Thames Valley Police,-1,51,On or near Petrol Station,E01016640,Wokingham 019F,Other theft,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,RG,RG40,82200,56
2995218,2995218,47a015a22c5daffcac83b39634d3d49170ef82fd7a2d69...,2024-01,Thames Valley Police,Thames Valley Police,-1,51,On or near Petrol Station,E01016640,Wokingham 019F,Other theft,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,RG,RG40,82200,56
2995219,2995219,b8b0b0e6f293be96aeec8a83e0a0a4477545ff6136587b...,2024-01,Thames Valley Police,Thames Valley Police,-1,51,On or near Burnmoor Meadow,E01016640,Wokingham 019F,Violence and sexual offences,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,RG,RG40,82200,56
2995220,2995220,f97b61fcb62d20297fca0b9b4c826cf7cd7ec3e56f0d9a...,2024-01,Thames Valley Police,Thames Valley Police,-1,51,On or near Heathlands Road,E01016705,Wokingham 020A,Other theft,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,RG,RG40,78900,21

In [25]:
merged_postcodes.columns

Index(['Unnamed: 0', 'Crime ID', 'Month', 'Reported by', 'Falls within',
       'Longitude', 'Latitude', 'Location', 'LSOA code', 'LSOA name',
       'Crime type', 'Last outcome category', 'Context', 'Outcome type',
       'Postcode area', 'Postcode district', 'Average Income', 'Population'],
      dtype='object')

# House Prices

In [26]:
house_prices = pd.read_csv('house_prices.csv')
display(house_prices)

,ID,Price,Date,Postcode,Road,Column11,Column12,District,County,Postcode district
0,{1061746D-9BD6-3C34-E063-4804A8C0F9E7},895000,25/06/2021 00:00,CM6 2GE,BOWYERS ROAD,NaN,DUNMOW,UTTLESFORD,ESSEX,CM6
1,{1061746D-E291-3C34-E063-4804A8C0F9E7},429995,03/12/2021 00:00,DE6 4NZ,FLAGSHAW COURT,KIRK LANGLEY,ASHBOURNE,AMBER VALLEY,DERBYSHIRE,DE6
2,{1061746D-E292-3C34-E063-4804A8C0F9E7},494995,26/11/2021 00:00,DE6 4PH,BAILEY CLOSE,KIRK LANGLEY,ASHBOURNE,AMBER VALLEY,DERBYSHIRE,DE6
3,{1061746D-E2C9-3C34-E063-4804A8C0F9E7},226995,17/12/2021 00:00,SK13 1AD,TORSIDE STREET,TINTWISTLE,GLOSSOP,HIGH PEAK,DERBYSHIRE,SK13
4,{1061746D-E2D2-3C34-E063-4804A8C0F9E7},261900,17/12/2021 00:00,DE22 3XF,PRINCE WILLIAM DRIVE,NaN,DERBY,CITY OF DERBY,CITY OF DERBY,DE22
...,...,...,...,...,...,...,...,...,...,...
96203,{09266DDC-57DA-AF90-E063-4704A8C02087},11964000,31/05/2023 00:00,DE21 6BF,STANIER WAY,WYVERN BUSINESS PARK,DERBY,CITY OF DERBY,CITY OF DERBY,DE21
96204,{09266DDC-5D95-AF90-E063-4704A8C02087},495000,12/10/2023 00:00,PO8 0DB,HAVANT ROAD,HORNDEAN,WATERLOOVILLE,EAST HAMPSHIRE,HAMPSHIRE,PO8
96205,{09266DDC-5D97-AF90-E063-4704A8C02087},335000,27/10/2023 00:00,SO19 9TA,DUNDONALD CLOSE,NaN,SOUTHAMPTON,SOUTHAMPTON,SOUTHAMPTON,SO19
96206,{09266DDC-6057-AF90-E063-4704A8C02087},210000,22/08/2023 00:00,PR1 7BH,ADELPHI STREET,NaN,PRESTON,PRESTON,LANCASHIRE,PR1
96207,{F87E72F8-E754-176C-E053-6B04A8C0D2BE},370000,24/02/2023 00:00,M5 4NZ,FIRE STATION SQUARE,NaN,SALFORD,SALFORD,GREATER MANCHESTER,M5

## Filtering out the 'Postcode' columns to get the 'Postcode area'

In [28]:
# Split the 'Postcode' column and take the first part
house_prices['Postcode district'] = house_prices['Postcode'].str.split().str[0]

# Display the DataFrame with the new column
display(house_prices)
house_prices.to_csv('house_prices.csv')

,ID,Price,Date,Postcode,Road,Column11,Column12,District,County,Postcode district
0,{1061746D-9BD6-3C34-E063-4804A8C0F9E7},895000,25/06/2021 00:00,CM6 2GE,BOWYERS ROAD,NaN,DUNMOW,UTTLESFORD,ESSEX,CM6
1,{1061746D-E291-3C34-E063-4804A8C0F9E7},429995,03/12/2021 00:00,DE6 4NZ,FLAGSHAW COURT,KIRK LANGLEY,ASHBOURNE,AMBER VALLEY,DERBYSHIRE,DE6
2,{1061746D-E292-3C34-E063-4804A8C0F9E7},494995,26/11/2021 00:00,DE6 4PH,BAILEY CLOSE,KIRK LANGLEY,ASHBOURNE,AMBER VALLEY,DERBYSHIRE,DE6
3,{1061746D-E2C9-3C34-E063-4804A8C0F9E7},226995,17/12/2021 00:00,SK13 1AD,TORSIDE STREET,TINTWISTLE,GLOSSOP,HIGH PEAK,DERBYSHIRE,SK13
4,{1061746D-E2D2-3C34-E063-4804A8C0F9E7},261900,17/12/2021 00:00,DE22 3XF,PRINCE WILLIAM DRIVE,NaN,DERBY,CITY OF DERBY,CITY OF DERBY,DE22
...,...,...,...,...,...,...,...,...,...,...
96203,{09266DDC-57DA-AF90-E063-4704A8C02087},11964000,31/05/2023 00:00,DE21 6BF,STANIER WAY,WYVERN BUSINESS PARK,DERBY,CITY OF DERBY,CITY OF DERBY,DE21
96204,{09266DDC-5D95-AF90-E063-4704A8C02087},495000,12/10/2023 00:00,PO8 0DB,HAVANT ROAD,HORNDEAN,WATERLOOVILLE,EAST HAMPSHIRE,HAMPSHIRE,PO8
96205,{09266DDC-5D97-AF90-E063-4704A8C02087},335000,27/10/2023 00:00,SO19 9TA,DUNDONALD CLOSE,NaN,SOUTHAMPTON,SOUTHAMPTON,SOUTHAMPTON,SO19
96206,{09266DDC-6057-AF90-E063-4704A8C02087},210000,22/08/2023 00:00,PR1 7BH,ADELPHI STREET,NaN,PRESTON,PRESTON,LANCASHIRE,PR1
96207,{F87E72F8-E754-176C-E053-6B04A8C0D2BE},370000,24/02/2023 00:00,M5 4NZ,FIRE STATION SQUARE,NaN,SALFORD,SALFORD,GREATER MANCHESTER,M5

In [30]:
import numpy as np

# Define a function to extract the alphabetic characters from the postcode district
def extract_postcode_area(postcode):
    if isinstance(postcode, str):  # Check if the value is a string
        return ''.join(filter(str.isalpha, postcode))
    else:
        return np.nan  # Return NaN if the value is not a string

# Apply the function to create the new 'Postcode area' column
house_prices['Postcode area'] = house_prices['Postcode district'].apply(extract_postcode_area)

# Display the first few rows of the DataFrame to verify the new column
display(house_prices)

house_prices.to_csv('house_prices_filtered.csv')

,ID,Price,Date,Postcode,Road,Column11,Column12,District,County,Postcode district,Postcode area
0,{1061746D-9BD6-3C34-E063-4804A8C0F9E7},895000,25/06/2021 00:00,CM6 2GE,BOWYERS ROAD,NaN,DUNMOW,UTTLESFORD,ESSEX,CM6,CM
1,{1061746D-E291-3C34-E063-4804A8C0F9E7},429995,03/12/2021 00:00,DE6 4NZ,FLAGSHAW COURT,KIRK LANGLEY,ASHBOURNE,AMBER VALLEY,DERBYSHIRE,DE6,DE
2,{1061746D-E292-3C34-E063-4804A8C0F9E7},494995,26/11/2021 00:00,DE6 4PH,BAILEY CLOSE,KIRK LANGLEY,ASHBOURNE,AMBER VALLEY,DERBYSHIRE,DE6,DE
3,{1061746D-E2C9-3C34-E063-4804A8C0F9E7},226995,17/12/2021 00:00,SK13 1AD,TORSIDE STREET,TINTWISTLE,GLOSSOP,HIGH PEAK,DERBYSHIRE,SK13,SK
4,{1061746D-E2D2-3C34-E063-4804A8C0F9E7},261900,17/12/2021 00:00,DE22 3XF,PRINCE WILLIAM DRIVE,NaN,DERBY,CITY OF DERBY,CITY OF DERBY,DE22,DE
...,...,...,...,...,...,...,...,...,...,...,...
96203,{09266DDC-57DA-AF90-E063-4704A8C02087},11964000,31/05/2023 00:00,DE21 6BF,STANIER WAY,WYVERN BUSINESS PARK,DERBY,CITY OF DERBY,CITY OF DERBY,DE21,DE
96204,{09266DDC-5D95-AF90-E063-4704A8C02087},495000,12/10/2023 00:00,PO8 0DB,HAVANT ROAD,HORNDEAN,WATERLOOVILLE,EAST HAMPSHIRE,HAMPSHIRE,PO8,PO
96205,{09266DDC-5D97-AF90-E063-4704A8C02087},335000,27/10/2023 00:00,SO19 9TA,DUNDONALD CLOSE,NaN,SOUTHAMPTON,SOUTHAMPTON,SOUTHAMPTON,SO19,SO
96206,{09266DDC-6057-AF90-E063-4704A8C02087},210000,22/08/2023 00:00,PR1 7BH,ADELPHI STREET,NaN,PRESTON,PRESTON,LANCASHIRE,PR1,PR
96207,{F87E72F8-E754-176C-E053-6B04A8C0D2BE},370000,24/02/2023 00:00,M5 4NZ,FIRE STATION SQUARE,NaN,SALFORD,SALFORD,GREATER MANCHESTER,M5,M

In [31]:
filtered_house = pd.read_csv('house_prices_filtered.csv')

# Define the list of postcode areas
postcode_areas = ['HA', 'MK', 'LU', 'SG', 'HP', 'AL', 'SE', 'IG', 'E', 'SW',
                  'EN', 'KT', 'WD', 'TW', 'UB', 'NW', 'RM', 'N', 'OX', 'RG', 'CR',
                  'CM', 'SS', 'CB', 'CO', 'EC', 'GU', 'RH', 'SM', 'SL', 'TN', 'DA',
                  'BR', 'WC', 'W', 'NN', 'SN', 'GL']

# Filter the DataFrame to include only the data from the specified postcode areas
filtered_house_postcode = filtered_house[filtered_house['Postcode area'].isin(postcode_areas)]

# Display the filtered DataFrame
display(filtered_house_postcode)

filtered_house_postcode.to_csv('house_prices_filtered.csv')

,Unnamed: 0,ID,Price,Date,Postcode,Road,Column11,Column12,District,County,Postcode district,Postcode area
0,0,{1061746D-9BD6-3C34-E063-4804A8C0F9E7},895000,25/06/2021 00:00,CM6 2GE,BOWYERS ROAD,NaN,DUNMOW,UTTLESFORD,ESSEX,CM6,CM
79,79,{1061746E-72D1-3C34-E063-4804A8C0F9E7},1235000,15/09/2021 00:00,KT12 1EX,ASHLEY PARK CRESCENT,NaN,WALTON-ON-THAMES,ELMBRIDGE,SURREY,KT12,KT
80,80,{1061746E-737A-3C34-E063-4804A8C0F9E7},14327125,12/11/2021 00:00,KT13 0LF,EAST ROAD,NaN,WEYBRIDGE,ELMBRIDGE,SURREY,KT13,KT
81,81,{1061746E-73A6-3C34-E063-4804A8C0F9E7},600000,14/12/2021 00:00,KT7 0HN,WESTON ROAD,NaN,THAMES DITTON,ELMBRIDGE,SURREY,KT7,KT
82,82,{1061746E-73D0-3C34-E063-4804A8C0F9E7},272000,16/09/2021 00:00,CR8 5DH,ASHURST CLOSE,NaN,KENLEY,CROYDON,GREATER LONDON,CR8,CR
...,...,...,...,...,...,...,...,...,...,...,...,...
96182,96182,{09266DDC-5A75-AF90-E063-4704A8C02087},262000,28/04/2023 00:00,RM17 5FG,MALTHOUSE DRIVE,NaN,GRAYS,THURROCK,THURROCK,RM17,RM
96191,96191,{09266DDC-6D26-AF90-E063-4704A8C02087},400500,20/10/2023 00:00,SM5 2PR,WEST STREET,NaN,CARSHALTON,SUTTON,GREATER LONDON,SM5,SM
96192,96192,{09266DDC-70C0-AF90-E063-4704A8C02087},950000,06/09/2023 00:00,KT11 2QP,TWINOAKS,NaN,COBHAM,ELMBRIDGE,SURREY,KT11,KT
96194,96194,{09266DDC-40F5-AF90-E063-4704A8C02087},150000,30/08/2023 00:00,SN25 2PN,TRUSCOTT AVENUE,NaN,SWINDON,SWINDON,SWINDON,SN25,SN
96196,96196,{09266DDC-4E2D-AF90-E063-4704A8C02087},58303,27/06/2023 00:00,LU5 4SB,APEX BUSINESS CENTRE,NaN,DUNSTABLE,CENTRAL BEDFORDSHIRE,CENTRAL BEDFORDSHIRE,LU5,LU

## Create a separate dataframe that consists of the average price of the 'Postcode area'

In [32]:
# Group the data by 'Postcode area' and calculate the mean price for each area
mean_prices = filtered_house_postcode.groupby('Postcode area')['Price'].mean().reset_index()

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:.0f}'.format

# Display the mean prices DataFrame with the adjusted format
display(mean_prices)

mean_prices.to_csv('Average House Prices.csv')

   Postcode area   Price
0             AL  628351
1             BR  615313
2             CB  503849
3             CM  516882
4             CO  435452
5             CR  480846
6             DA  433917
7              E  572678
8             EN  608891
9             GL  433939
10            GU  609866
11            HA  596581
12            HP  534660
13            IG  478319
14            KT  731906
15            LU  385699
16            MK  400900
17             N  719888
18            NN  402776
19            NW 1017730
20            OX  586127
21            RG  627976
22            RH  590981
23            RM  414021
24            SE  575238
25            SG  469152
26            SL 1025102
27            SM  483795
28            SN  350909
29            SS  376724
30            SW  921062
31            TN  505219
32            TW  728488
33            UB  641888
34             W 1358564
35            WD  553085

In [37]:
mean_prices = pd.read_csv('Average House Prices.csv')
filled_data = pd.read_csv('merged_postcodes.csv')

display(filled_data.columns)
display(mean_prices.columns)

# Merge the filled_data with mean_prices on the 'Postcode area' column
merged_data = pd.merge(filled_data, mean_prices, on='Postcode area', how='left')

# Display the first few rows of the merged DataFrame
display(merged_data)

merged_data.to_csv('all_regions_full_data.csv')

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Crime ID', 'Month', 'Reported by',
       'Falls within', 'Longitude', 'Latitude', 'Location', 'LSOA code',
       'LSOA name', 'Crime type', 'Last outcome category', 'Context',
       'Outcome type', 'Postcode area', 'Postcode district', 'Average Income',
       'Population'],
      dtype='object')

Index(['Unnamed: 0', 'Postcode area', 'Price'], dtype='object')

,Unnamed: 0.1,Unnamed: 0_x,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,...,Crime type,Last outcome category,Context,Outcome type,Postcode area,Postcode district,Average Income,Population,Unnamed: 0_y,Price
0,0,0,3abf3c34562bf6a1c2cbdc8af2cf9b6c0c404802c0124b...,2022-01,Bedfordshire Police,Bedfordshire Police,-0,52,On or near St Alphage Walk,E01000128,...,Violence and sexual offences,Action to be taken by another organisation,NaN,Action to be taken by another organisation,HA,HA8,51000,20,11,596581
1,1,1,3770f1fa16b3bb916abdbb1908c26883f594265be11fb0...,2022-01,Bedfordshire Police,Bedfordshire Police,-0,52,On or near Mill Lane,E01017540,...,Public order,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,MK,MK44,55800,55,16,400900
2,2,2,bbe5beb3288b1c4ded371dec3011eb0862c21ec8846d70...,2022-01,Bedfordshire Police,Bedfordshire Police,-0,52,On or near Gold Street,E01017541,...,Burglary,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,MK,MK44,55800,14,16,400900
3,3,3,cbc15187f666296778c9b6cef95b5ca22b132a12c4b012...,2022-01,Bedfordshire Police,Bedfordshire Police,-0,52,On or near Petrol Station,E01017541,...,Burglary,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,MK,MK44,55800,14,16,400900
4,4,4,b6728aeb051f6e9484804437849d8202257e836198a53c...,2022-01,Bedfordshire Police,Bedfordshire Police,-0,52,On or near Maple Gardens,E01017541,...,Burglary,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,MK,MK44,55800,14,16,400900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1797959,2995216,2995216,d722bf58b3bd0fd77834e2b37986663574ee7e730ef025...,2024-01,Thames Valley Police,Thames Valley Police,-1,51,On or near Petrol Station,E01016640,...,Other theft,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,RG,RG40,82200,56,21,627976
1797960,2995217,2995217,f922655ff29c023c925dd4d2bbf850b868ef7f6302155b...,2024-01,Thames Valley Police,Thames Valley Police,-1,51,On or near Petrol Station,E01016640,...,Other theft,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,RG,RG40,82200,56,21,627976
1797961,2995218,2995218,47a015a22c5daffcac83b39634d3d49170ef82fd7a2d69...,2024-01,Thames Valley Police,Thames Valley Police,-1,51,On or near Petrol Station,E01016640,...,Other theft,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,RG,RG40,82200,56,21,627976
1797962,2995219,2995219,b8b0b0e6f293be96aeec8a83e0a0a4477545ff6136587b...,2024-01,Thames Valley Police,Thames Valley Police,-1,51,On or near Burnmoor Meadow,E01016640,...,Violence and sexual offences,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,RG,RG40,82200,56,21,627976
1797963,2995220,2995220,f97b61fcb62d20297fca0b9b4c826cf7cd7ec3e56f0d9a...,2024-01,Thames Valley Police,Thames Valley Police,-1,51,On or near Heathlands Road,E01016705,...,Other theft,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,RG,RG40,78900,21,21,627976

## Create a separate dataframe for 'Total Population' for each 'Postcode area'

In [39]:
postcode_areas = ['HA', 'MK', 'LU', 'SG', 'HP', 'AL', 'SE', 'IG', 'E', 'SW',
                  'EN', 'KT', 'WD', 'TW', 'UB', 'NW', 'RM', 'N', 'OX', 'RG', 'CR',
                  'CM', 'SS', 'CB', 'CO', 'EC', 'GU', 'RH', 'SM', 'SL', 'TN', 'DA',
                  'BR', 'WC', 'W', 'NN', 'SN', 'GL']

# Initialize an empty list to store the data
data = []
# Iterate over each postcode area
for area in postcode_areas:
    # Calculate the total population for the current postcode area
    total_population = merged_data[merged_data['Postcode area'] == area]['Population'].sum()
    # Append the postcode area and total population to the data list as a dictionary
    data.append({'Postcode area': area, 'Total Population': total_population})

# Create a DataFrame from the collected data
total_population_df = pd.DataFrame(data)
# Display the DataFrame
display(total_population_df)

total_population_df.to_csv('total_population.csv')

   Postcode area  Total Population
0             HA           2448671
1             MK           2245805
2             LU           1712064
3             SG           1153632
4             HP           1651576
5             AL            735580
6             SE           8807138
7             IG           3066135
8              E          11872451
9             SW           6614268
10            EN           2019889
11            KT           1845420
12            WD            711843
13            TW           2817915
14            UB           3058965
15            NW           4823101
16            RM           4444959
17             N           8109724
18            OX           2059613
19            RG           2341913
20            CR           3600823
21            CM           3163504
22            SS           3329668
23            CB             81823
24            CO           1565592
25            EC            108576
26            GU           1310686
27            RH            527461
28            SM           1180920
29            SL           1616646
30            TN             36394
31            DA           1330027
32            BR           1776908
33            WC             89029
34             W           5283854
35            NN              2548
36            SN             61969
37            GL              3032

In [44]:
population_data = pd.read_csv('total_population.csv')
display(population_data)

filled_data = pd.read_csv('all_regions_full_data.csv')
display(filled_data.columns)

    Unnamed: 0 Postcode area  Total Population
0            0            HA           2448671
1            1            MK           2245805
2            2            LU           1712064
3            3            SG           1153632
4            4            HP           1651576
5            5            AL            735580
6            6            SE           8807138
7            7            IG           3066135
8            8             E          11872451
9            9            SW           6614268
10          10            EN           2019889
11          11            KT           1845420
12          12            WD            711843
13          13            TW           2817915
14          14            UB           3058965
15          15            NW           4823101
16          16            RM           4444959
17          17             N           8109724
18          18            OX           2059613
19          19            RG           2341913
20          20            CR           3600823
21          21            CM           3163504
22          22            SS           3329668
23          23            CB             81823
24          24            CO           1565592
25          25            EC            108576
26          26            GU           1310686
27          27            RH            527461
28          28            SM           1180920
29          29            SL           1616646
30          30            TN             36394
31          31            DA           1330027
32          32            BR           1776908
33          33            WC             89029
34          34             W           5283854
35          35            NN              2548
36          36            SN             61969
37          37            GL              3032

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0_x', 'Crime ID', 'Month',
       'Reported by', 'Falls within', 'Longitude', 'Latitude', 'Location',
       'LSOA code', 'LSOA name', 'Crime type', 'Last outcome category',
       'Context', 'Outcome type', 'Postcode area', 'Postcode district',
       'Average Income', 'Population', 'Unnamed: 0_y', 'Price'],
      dtype='object')

# Final merged dataframe

In [47]:
# Merge the dataframes with explicit suffixes
merged_data = pd.merge(filled_data, population_data, on='Postcode area', how='inner', suffixes=('_filled', '_population'))

# Drop the duplicate columns
merged_data = merged_data.drop(['Unnamed: 0_filled', 'Unnamed: 0_population'], axis=1)

# Display the modified dataframe
display(merged_data)


merged_data.to_csv('all_regions_full_data.csv')

,Unnamed: 0.1,Unnamed: 0_x,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,...,Last outcome category,Context,Outcome type,Postcode area,Postcode district,Average Income,Population,Unnamed: 0_y,Price,Total Population
0,0,0,3abf3c34562bf6a1c2cbdc8af2cf9b6c0c404802c0124b...,2022-01,Bedfordshire Police,Bedfordshire Police,-0,52,On or near St Alphage Walk,E01000128,...,Action to be taken by another organisation,NaN,Action to be taken by another organisation,HA,HA8,51000,20,11,596581,2448671
1,17024,17024,257966996ee507f48103ba1c9ab9f59cd6ed0cde80c3fa...,2022-01,Hertfordshire Constabulary,Hertfordshire Constabulary,-0,52,On or near Hospital,E01000568,...,Unable to prosecute suspect,NaN,Unable to prosecute suspect,HA,HA1,66400,4,11,596581,2448671
2,18997,18997,32e935327c4d6eaf0d9ac3dbf65e79200f19d09d817ef8...,2022-01,Hertfordshire Constabulary,Hertfordshire Constabulary,-0,52,On or near Heathbourne Road,E01002225,...,Local resolution,NaN,Local resolution,HA,HA7,57700,79,11,596581,2448671
3,19705,19705,7c37f0f2a77f64c06a3c98009563b856dae38e79ca6760...,2022-01,Hertfordshire Constabulary,Hertfordshire Constabulary,-0,52,On or near Clay Lane,E01023548,...,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,HA,HA7,54700,24,11,596581,2448671
4,19706,19706,e7bd6553949004e3dd100db16cfc2606571a173bac3dc8...,2022-01,Hertfordshire Constabulary,Hertfordshire Constabulary,-0,52,On or near Elstree Road,E01023548,...,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,HA,HA7,54700,24,11,596581,2448671
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1797959,2994638,2994638,85e3b037726b339b57712c69aec711b95f05bfd6d7f8b4...,2024-01,Thames Valley Police,Thames Valley Police,-2,52,On or near The Gassons,E01028762,...,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,GL,GL7,57400,8,9,433939,3032
1797960,2994639,2994639,e24df3ac5800922fe41015060ee784895e1af752822803...,2024-01,Thames Valley Police,Thames Valley Police,-2,52,On or near Rouses Lane,E01028762,...,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,GL,GL7,57400,8,9,433939,3032
1797961,2994640,2994640,7501d16fe678c09f45ff7061e2d373570fd3db76aa1a47...,2024-01,Thames Valley Police,Thames Valley Police,-2,52,On or near Park/Open Space,E01028762,...,Investigation complete; no suspect identified,NaN,Investigation complete; no suspect identified,GL,GL7,57400,8,9,433939,3032
1797962,2994641,2994641,722d6dffcf7e283e9e2b31f6bb32bc05d7549c9f8bbafa...,2024-01,Thames Valley Police,Thames Valley Police,-2,52,On or near The Wickets,E01028762,...,Unable to prosecute suspect,NaN,Unable to prosecute suspect,GL,GL7,57400,8,9,433939,3032
1797963,2994642,2994642,03fc93d11672db7745db7f5722040f66e6359dc8b4ddc2...,2024-01,Thames Valley Police,Thames Valley Police,-2,52,On or near Rouses Lane,E01028762,...,Unable to prosecute suspect,NaN,Unable to prosecute suspect,GL,GL7,57400,8,9,433939,3032